/*
  * Copyright (c) 2020 The ZMK Contributors
  *test
  * SPDX-License-Identifier: MIT
  */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp Z  &kp X  &kp C  &kp V  &kp Z    &kp X  &kp C  &kp V  &kp Z  &kp X
&kp C  &kp V  &kp Z  &kp X  &kp C    &kp V  &kp Z  &kp X  &kp C  &kp V
&kp Z  &kp X  &kp C  &kp V  &kp Z    &kp X  &kp C  &kp V  &kp Z  &kp X
                     &kp C  &kp V    &kp Z  &kp V
            >;
        };
    };
};
